.Large-Blue {
	font-size: large;
	color: #00F;
}
.Large-Red {
	font-size: large;
	color: #F00;
}
.Large-Bold-Blue {
	font-size: x-large;
	font-weight: bold;
	color: #00F;
}
.Large-Bold-RED {
	font-size: x-large;
	font-weight: bold;
	color: #F00;
}
.X-Large-Blue {
	font-size: x-large;
	color: #00F;
}
.X-Large-RED {
	font-size: x-large;
	color: #F00;
}
.見出し {
	color: #F00;
}
.Red {
	color: #F00;
}
.Red {
	color: #F00;
}
.Blue {
	color: #00F;
}
.Large-Red {
	font-size: large;
}
.large {
	font-size: large;
}
.X-large {
	font-size: x-large;
}
.X-large-red {
	color: #F00;
	font-size: xx-large;
}
.large {
	font-size: x-large;
}
.large-red {
	color: #F00;
}
